In [21]:
import pandas as pd
import numpy as np

In [22]:
career_data = pd.read_csv("career_data.csv", dtype={"postal_code":str})
career_data.head()

,uniq_id,crawl_timestamp,job_title,company_name,post_date,job_type,inferred_salary_time_unit,salary_offered,job_board,geo,...,fitness_score,inferred_salary_from,inferred_salary_to,inferred_salary_currency,is_consumed_job,job_requirements,contact_email,test_contact_email,post_date_unix_time,postal_code
0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03 +0000,Asphalt/Concrete Senior Project Manager,GPAC,2020-06-25,Full-Time,/,"$99,642.00",careerbuilder,usa,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1593043200,43961
1,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05 +0000,Amazon Warehouse Team - Full Time,Amazon Fulfillment,2020-05-16,Full-Time,/,"$58,626.00",careerbuilder,usa,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1589587200,50467
2,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42 +0000,Amazon Warehouse Associate - Morning Shifts Av...,Amazon Fulfillment,2020-06-26,Full-Time,/,"$67,450.00",careerbuilder,usa,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1593129600,42620
3,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32 +0000,Assembly Electrical,Manpower,2020-06-02,Full-Time,/hour,"$47,467.00",careerbuilder,usa,...,10,14.00,14.00,$,NaN,NaN,NaN,NaN,1591056000,97275
4,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07 +0000,Graphics Designer,The North West Company - U.S.,2020-05-22,Full-Time,/,"$136,684.00",careerbuilder,usa,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1590105600,37765

In [23]:
len(career_data.columns)

30

In [24]:
career_data.nunique()

uniq_id                         3000
crawl_timestamp                 2968
job_title                       2096
company_name                     747
post_date                         81
job_type                           9
inferred_salary_time_unit         13
salary_offered                  2967
job_board                          1
geo                                1
job_post_lang                      1
valid_through                     83
postdate_yyyymmdd                 81
last_expiry_check_date            76
latest_expiry_check_date          76
duplicate_status                   0
postdate_in_indexname_format      10
inferred_city                   1400
inferred_state                    51
inferred_country                   1
fitness_score                      1
inferred_salary_from             122
inferred_salary_to               140
inferred_salary_currency           1
is_consumed_job                    1
job_requirements                   1
contact_email                      1
test_contact_email                 0
post_date_unix_time               81
postal_code                     2960
dtype: int64

In [25]:
columns_to_drop = career_data.nunique()[career_data.nunique() == 1].index
columns_to_drop

Index(['job_board', 'geo', 'job_post_lang', 'inferred_country',
       'fitness_score', 'inferred_salary_currency', 'is_consumed_job',
       'job_requirements', 'contact_email'],
      dtype='object')

In [26]:
career_data_dropped_cols = career_data.copy()
career_data_dropped_cols = career_data_dropped_cols.drop(columns=columns_to_drop)
career_data_dropped_cols

,uniq_id,crawl_timestamp,job_title,company_name,post_date,job_type,inferred_salary_time_unit,salary_offered,valid_through,postdate_yyyymmdd,...,latest_expiry_check_date,duplicate_status,postdate_in_indexname_format,inferred_city,inferred_state,inferred_salary_from,inferred_salary_to,test_contact_email,post_date_unix_time,postal_code
0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03 +0000,Asphalt/Concrete Senior Project Manager,GPAC,2020-06-25,Full-Time,/,"$99,642.00",2020-07-24,20200625,...,2020-06-26,NaN,2020.06.22,Houston,Texas,NaN,NaN,NaN,1593043200,43961
1,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05 +0000,Amazon Warehouse Team - Full Time,Amazon Fulfillment,2020-05-16,Full-Time,/,"$58,626.00",2020-06-15,20200516,...,2020-05-17,NaN,2020.05.11,Cincinnati,Ohio,NaN,NaN,NaN,1589587200,50467
2,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42 +0000,Amazon Warehouse Associate - Morning Shifts Av...,Amazon Fulfillment,2020-06-26,Full-Time,/,"$67,450.00",2020-07-25,20200626,...,2020-06-27,NaN,2020.06.22,Peabody,Massachusetts,NaN,NaN,NaN,1593129600,42620
3,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32 +0000,Assembly Electrical,Manpower,2020-06-02,Full-Time,/hour,"$47,467.00",2020-07-01,20200602,...,2020-06-03,NaN,2020.06.01,Villard,Minnesota,14.00,14.00,NaN,1591056000,97275
4,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07 +0000,Graphics Designer,The North West Company - U.S.,2020-05-22,Full-Time,/,"$136,684.00",2020-06-21,20200522,...,2020-05-23,NaN,2020.05.22,Anchorage,Alaska,NaN,NaN,NaN,1590105600,37765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,a56efdccbe87fea387e2edd3b1ec9faa,2020-05-19 01:21:18 +0000,Store Hourly,Advance Auto Parts,2020-05-18,Full-Time,/,"$63,152.00",2020-06-17,20200518,...,2020-05-19,NaN,2020.05.11,Wake forest,North carolina,NaN,NaN,NaN,1589760000,27460
2996,5605b833679597515f7205180b50ea9f,2020-06-12 01:45:25 +0000,SAP FICA IS-U Architect (Posted 6-11-20),Donnelly & Moore,2020-06-11,Contractor,/0,"$108,575.00",2020-07-10,20200611,...,2020-06-12,NaN,2020.06.11,White plains,New york,0,0,NaN,1591833600,74603
2997,c74525996c267187b2be11c3c01f3a34,2020-04-30 01:47:25 +0000,Data Entry Specialist,Robert Half,2020-04-29,Seasonal/Temp,/hour,"$88,469.00",2020-05-28,20200429,...,2020-04-30,NaN,2020.04.22,Martinez,California,16.00,18.00,NaN,1588118400,08709
2998,ee4a13cfc9ce0cb2d66b54b30d5732e6,2020-06-12 00:57:31 +0000,Warehouse Associate (Seasonal/ Part-Time/ Full...,Amazon Fulfillment,2020-06-11,Part-Time,/,"$102,933.00",2020-07-10,20200611,...,2020-06-12,NaN,2020.06.11,Rahway,New jersey,NaN,NaN,NaN,1591833600,41693
2999,6093631d5e9c136e0b3808e0eaeffb31,2020-05-07 02:51:11 +0000,Amazon Warehouse Team Member -Earn up to $15,Amazon Fulfillment,2020-05-06,Full-Time,/,"$82,329.00",2020-06-05,20200506,...,2020-05-07,NaN,2020.05.01,Queens,New york,NaN,NaN,NaN,1588723200,96169

In [27]:
career_data_dropped_cols = career_data_dropped_cols.dropna(axis=1, how='all')
career_data_dropped_cols

,uniq_id,crawl_timestamp,job_title,company_name,post_date,job_type,inferred_salary_time_unit,salary_offered,valid_through,postdate_yyyymmdd,last_expiry_check_date,latest_expiry_check_date,postdate_in_indexname_format,inferred_city,inferred_state,inferred_salary_from,inferred_salary_to,post_date_unix_time,postal_code
0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03 +0000,Asphalt/Concrete Senior Project Manager,GPAC,2020-06-25,Full-Time,/,"$99,642.00",2020-07-24,20200625,2020.06.26,2020-06-26,2020.06.22,Houston,Texas,NaN,NaN,1593043200,43961
1,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05 +0000,Amazon Warehouse Team - Full Time,Amazon Fulfillment,2020-05-16,Full-Time,/,"$58,626.00",2020-06-15,20200516,2020.05.17,2020-05-17,2020.05.11,Cincinnati,Ohio,NaN,NaN,1589587200,50467
2,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42 +0000,Amazon Warehouse Associate - Morning Shifts Av...,Amazon Fulfillment,2020-06-26,Full-Time,/,"$67,450.00",2020-07-25,20200626,2020.06.27,2020-06-27,2020.06.22,Peabody,Massachusetts,NaN,NaN,1593129600,42620
3,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32 +0000,Assembly Electrical,Manpower,2020-06-02,Full-Time,/hour,"$47,467.00",2020-07-01,20200602,2020.06.03,2020-06-03,2020.06.01,Villard,Minnesota,14.00,14.00,1591056000,97275
4,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07 +0000,Graphics Designer,The North West Company - U.S.,2020-05-22,Full-Time,/,"$136,684.00",2020-06-21,20200522,2020.05.23,2020-05-23,2020.05.22,Anchorage,Alaska,NaN,NaN,1590105600,37765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,a56efdccbe87fea387e2edd3b1ec9faa,2020-05-19 01:21:18 +0000,Store Hourly,Advance Auto Parts,2020-05-18,Full-Time,/,"$63,152.00",2020-06-17,20200518,2020.05.19,2020-05-19,2020.05.11,Wake forest,North carolina,NaN,NaN,1589760000,27460
2996,5605b833679597515f7205180b50ea9f,2020-06-12 01:45:25 +0000,SAP FICA IS-U Architect (Posted 6-11-20),Donnelly & Moore,2020-06-11,Contractor,/0,"$108,575.00",2020-07-10,20200611,2020.06.12,2020-06-12,2020.06.11,White plains,New york,0,0,1591833600,74603
2997,c74525996c267187b2be11c3c01f3a34,2020-04-30 01:47:25 +0000,Data Entry Specialist,Robert Half,2020-04-29,Seasonal/Temp,/hour,"$88,469.00",2020-05-28,20200429,2020.04.30,2020-04-30,2020.04.22,Martinez,California,16.00,18.00,1588118400,08709
2998,ee4a13cfc9ce0cb2d66b54b30d5732e6,2020-06-12 00:57:31 +0000,Warehouse Associate (Seasonal/ Part-Time/ Full...,Amazon Fulfillment,2020-06-11,Part-Time,/,"$102,933.00",2020-07-10,20200611,2020.06.12,2020-06-12,2020.06.11,Rahway,New jersey,NaN,NaN,1591833600,41693
2999,6093631d5e9c136e0b3808e0eaeffb31,2020-05-07 02:51:11 +0000,Amazon Warehouse Team Member -Earn up to $15,Amazon Fulfillment,2020-05-06,Full-Time,/,"$82,329.00",2020-06-05,20200506,2020.05.07,2020-05-07,2020.05.01,Queens,New york,NaN,NaN,1588723200,96169

In [28]:
career_data_dropped_cols.dtypes

uniq_id                         object
crawl_timestamp                 object
job_title                       object
company_name                    object
post_date                       object
job_type                        object
inferred_salary_time_unit       object
salary_offered                  object
valid_through                   object
postdate_yyyymmdd                int64
last_expiry_check_date          object
latest_expiry_check_date        object
postdate_in_indexname_format    object
inferred_city                   object
inferred_state                  object
inferred_salary_from            object
inferred_salary_to              object
post_date_unix_time              int64
postal_code                     object
dtype: object

In [29]:
career_data_dtype_change = career_data_dropped_cols.copy()
career_data_dtype_change["salary_offered"] = career_data_dtype_change["salary_offered"].apply(lambda x: x.replace('$', '').replace(',', '')).astype(float)
career_data_dtype_change["salary_offered"]

0        99642.0
1        58626.0
2        67450.0
3        47467.0
4       136684.0
          ...
2995     63152.0
2996    108575.0
2997     88469.0
2998    102933.0
2999     82329.0
Name: salary_offered, Length: 3000, dtype: float64

In [30]:
career_data_dtype_change[['crawl_timestamp', 'valid_through', 
                          'postdate_yyyymmdd', 'last_expiry_check_date', 
                          'latest_expiry_check_date', 
                          'postdate_in_indexname_format']]

,crawl_timestamp,valid_through,postdate_yyyymmdd,last_expiry_check_date,latest_expiry_check_date,postdate_in_indexname_format
0,2020-06-26 01:54:03 +0000,2020-07-24,20200625,2020.06.26,2020-06-26,2020.06.22
1,2020-05-17 01:21:05 +0000,2020-06-15,20200516,2020.05.17,2020-05-17,2020.05.11
2,2020-06-27 04:53:42 +0000,2020-07-25,20200626,2020.06.27,2020-06-27,2020.06.22
3,2020-06-03 01:21:32 +0000,2020-07-01,20200602,2020.06.03,2020-06-03,2020.06.01
4,2020-05-23 01:19:07 +0000,2020-06-21,20200522,2020.05.23,2020-05-23,2020.05.22
...,...,...,...,...,...,...
2995,2020-05-19 01:21:18 +0000,2020-06-17,20200518,2020.05.19,2020-05-19,2020.05.11
2996,2020-06-12 01:45:25 +0000,2020-07-10,20200611,2020.06.12,2020-06-12,2020.06.11
2997,2020-04-30 01:47:25 +0000,2020-05-28,20200429,2020.04.30,2020-04-30,2020.04.22
2998,2020-06-12 00:57:31 +0000,2020-07-10,20200611,2020.06.12,2020-06-12,2020.06.11
2999,2020-05-07 02:51:11 +0000,2020-06-05,20200506,2020.05.07,2020-05-07,2020.05.01

In [31]:
career_data_dtype_change["crawl_timestamp"] = pd.to_datetime(career_data_dropped_cols["crawl_timestamp"])
career_data_dtype_change["postdate_yyyymmdd"] = pd.to_datetime(career_data_dtype_change["postdate_yyyymmdd"], format="%Y%m%d")

career_data_dtype_change

,uniq_id,crawl_timestamp,job_title,company_name,post_date,job_type,inferred_salary_time_unit,salary_offered,valid_through,postdate_yyyymmdd,last_expiry_check_date,latest_expiry_check_date,postdate_in_indexname_format,inferred_city,inferred_state,inferred_salary_from,inferred_salary_to,post_date_unix_time,postal_code
0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03+00:00,Asphalt/Concrete Senior Project Manager,GPAC,2020-06-25,Full-Time,/,99642.0,2020-07-24,2020-06-25,2020.06.26,2020-06-26,2020.06.22,Houston,Texas,NaN,NaN,1593043200,43961
1,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05+00:00,Amazon Warehouse Team - Full Time,Amazon Fulfillment,2020-05-16,Full-Time,/,58626.0,2020-06-15,2020-05-16,2020.05.17,2020-05-17,2020.05.11,Cincinnati,Ohio,NaN,NaN,1589587200,50467
2,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42+00:00,Amazon Warehouse Associate - Morning Shifts Av...,Amazon Fulfillment,2020-06-26,Full-Time,/,67450.0,2020-07-25,2020-06-26,2020.06.27,2020-06-27,2020.06.22,Peabody,Massachusetts,NaN,NaN,1593129600,42620
3,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32+00:00,Assembly Electrical,Manpower,2020-06-02,Full-Time,/hour,47467.0,2020-07-01,2020-06-02,2020.06.03,2020-06-03,2020.06.01,Villard,Minnesota,14.00,14.00,1591056000,97275
4,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07+00:00,Graphics Designer,The North West Company - U.S.,2020-05-22,Full-Time,/,136684.0,2020-06-21,2020-05-22,2020.05.23,2020-05-23,2020.05.22,Anchorage,Alaska,NaN,NaN,1590105600,37765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,a56efdccbe87fea387e2edd3b1ec9faa,2020-05-19 01:21:18+00:00,Store Hourly,Advance Auto Parts,2020-05-18,Full-Time,/,63152.0,2020-06-17,2020-05-18,2020.05.19,2020-05-19,2020.05.11,Wake forest,North carolina,NaN,NaN,1589760000,27460
2996,5605b833679597515f7205180b50ea9f,2020-06-12 01:45:25+00:00,SAP FICA IS-U Architect (Posted 6-11-20),Donnelly & Moore,2020-06-11,Contractor,/0,108575.0,2020-07-10,2020-06-11,2020.06.12,2020-06-12,2020.06.11,White plains,New york,0,0,1591833600,74603
2997,c74525996c267187b2be11c3c01f3a34,2020-04-30 01:47:25+00:00,Data Entry Specialist,Robert Half,2020-04-29,Seasonal/Temp,/hour,88469.0,2020-05-28,2020-04-29,2020.04.30,2020-04-30,2020.04.22,Martinez,California,16.00,18.00,1588118400,08709
2998,ee4a13cfc9ce0cb2d66b54b30d5732e6,2020-06-12 00:57:31+00:00,Warehouse Associate (Seasonal/ Part-Time/ Full...,Amazon Fulfillment,2020-06-11,Part-Time,/,102933.0,2020-07-10,2020-06-11,2020.06.12,2020-06-12,2020.06.11,Rahway,New jersey,NaN,NaN,1591833600,41693
2999,6093631d5e9c136e0b3808e0eaeffb31,2020-05-07 02:51:11+00:00,Amazon Warehouse Team Member -Earn up to $15,Amazon Fulfillment,2020-05-06,Full-Time,/,82329.0,2020-06-05,2020-05-06,2020.05.07,2020-05-07,2020.05.01,Queens,New york,NaN,NaN,1588723200,96169

In [32]:
missing_values = [np.nan, "", " ", None]

career_data_dtype_change.isin(missing_values).mean().sort_values(ascending=False) * 100

inferred_salary_to              87.133333
inferred_salary_from            87.133333
inferred_city                    6.833333
job_type                         0.533333
uniq_id                          0.000000
last_expiry_check_date           0.000000
post_date_unix_time              0.000000
inferred_state                   0.000000
postdate_in_indexname_format     0.000000
latest_expiry_check_date         0.000000
postdate_yyyymmdd                0.000000
crawl_timestamp                  0.000000
valid_through                    0.000000
salary_offered                   0.000000
inferred_salary_time_unit        0.000000
post_date                        0.000000
company_name                     0.000000
job_title                        0.000000
postal_code                      0.000000
dtype: float64

In [33]:
columns_to_drop = career_data_dtype_change.isin(missing_values).mean()[(career_data_dtype_change.isin(missing_values).mean()) > 0.86].index

career_data_missing_values = career_data_dtype_change.copy()
career_data_missing_values = career_data_missing_values.drop(columns=columns_to_drop)
career_data_missing_values

,uniq_id,crawl_timestamp,job_title,company_name,post_date,job_type,inferred_salary_time_unit,salary_offered,valid_through,postdate_yyyymmdd,last_expiry_check_date,latest_expiry_check_date,postdate_in_indexname_format,inferred_city,inferred_state,post_date_unix_time,postal_code
0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03+00:00,Asphalt/Concrete Senior Project Manager,GPAC,2020-06-25,Full-Time,/,99642.0,2020-07-24,2020-06-25,2020.06.26,2020-06-26,2020.06.22,Houston,Texas,1593043200,43961
1,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05+00:00,Amazon Warehouse Team - Full Time,Amazon Fulfillment,2020-05-16,Full-Time,/,58626.0,2020-06-15,2020-05-16,2020.05.17,2020-05-17,2020.05.11,Cincinnati,Ohio,1589587200,50467
2,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42+00:00,Amazon Warehouse Associate - Morning Shifts Av...,Amazon Fulfillment,2020-06-26,Full-Time,/,67450.0,2020-07-25,2020-06-26,2020.06.27,2020-06-27,2020.06.22,Peabody,Massachusetts,1593129600,42620
3,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32+00:00,Assembly Electrical,Manpower,2020-06-02,Full-Time,/hour,47467.0,2020-07-01,2020-06-02,2020.06.03,2020-06-03,2020.06.01,Villard,Minnesota,1591056000,97275
4,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07+00:00,Graphics Designer,The North West Company - U.S.,2020-05-22,Full-Time,/,136684.0,2020-06-21,2020-05-22,2020.05.23,2020-05-23,2020.05.22,Anchorage,Alaska,1590105600,37765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,a56efdccbe87fea387e2edd3b1ec9faa,2020-05-19 01:21:18+00:00,Store Hourly,Advance Auto Parts,2020-05-18,Full-Time,/,63152.0,2020-06-17,2020-05-18,2020.05.19,2020-05-19,2020.05.11,Wake forest,North carolina,1589760000,27460
2996,5605b833679597515f7205180b50ea9f,2020-06-12 01:45:25+00:00,SAP FICA IS-U Architect (Posted 6-11-20),Donnelly & Moore,2020-06-11,Contractor,/0,108575.0,2020-07-10,2020-06-11,2020.06.12,2020-06-12,2020.06.11,White plains,New york,1591833600,74603
2997,c74525996c267187b2be11c3c01f3a34,2020-04-30 01:47:25+00:00,Data Entry Specialist,Robert Half,2020-04-29,Seasonal/Temp,/hour,88469.0,2020-05-28,2020-04-29,2020.04.30,2020-04-30,2020.04.22,Martinez,California,1588118400,08709
2998,ee4a13cfc9ce0cb2d66b54b30d5732e6,2020-06-12 00:57:31+00:00,Warehouse Associate (Seasonal/ Part-Time/ Full...,Amazon Fulfillment,2020-06-11,Part-Time,/,102933.0,2020-07-10,2020-06-11,2020.06.12,2020-06-12,2020.06.11,Rahway,New jersey,1591833600,41693
2999,6093631d5e9c136e0b3808e0eaeffb31,2020-05-07 02:51:11+00:00,Amazon Warehouse Team Member -Earn up to $15,Amazon Fulfillment,2020-05-06,Full-Time,/,82329.0,2020-06-05,2020-05-06,2020.05.07,2020-05-07,2020.05.01,Queens,New york,1588723200,96169

In [34]:
missing_values = [np.nan, "", " ", None]

career_data_missing_values.isin(missing_values).mean().sort_values(ascending=False) * 100

inferred_city                   6.833333
job_type                        0.533333
uniq_id                         0.000000
postdate_yyyymmdd               0.000000
post_date_unix_time             0.000000
inferred_state                  0.000000
postdate_in_indexname_format    0.000000
latest_expiry_check_date        0.000000
last_expiry_check_date          0.000000
valid_through                   0.000000
crawl_timestamp                 0.000000
salary_offered                  0.000000
inferred_salary_time_unit       0.000000
post_date                       0.000000
company_name                    0.000000
job_title                       0.000000
postal_code                     0.000000
dtype: float64

In [35]:
inferred_city_mapping = career_data_missing_values.groupby(['inferred_state'])["inferred_city"].agg(lambda x:x.value_counts().index[0]).to_dict()
inferred_city_mapping

{'Alabama': 'Montgomery',
 'Alaska': 'Anchorage',
 'Arizona': 'Phoenix',
 'Arkansas': 'Texarkana',
 'California': 'Los angeles',
 'Colorado': 'Denver',
 'Connecticut': 'Hartford',
 'Delaware': 'Wilmington',
 'District of columbia': 'Washington',
 'Florida': 'Orlando',
 'Georgia': 'Atlanta',
 'Hawaii': 'Pearl city',
 'Idaho': 'Boise',
 'Illinois': 'Chicago',
 'Indiana': 'Indianapolis',
 'Iowa': 'Des moines',
 'Kansas': 'Wichita',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton rouge',
 'Maine': 'Augusta',
 'Maryland': 'Baltimore',
 'Massachusetts': 'Boston',
 'Michigan': 'Grand rapids',
 'Minnesota': 'Minneapolis',
 'Mississippi': 'Jackson',
 'Missouri': 'Saint louis',
 'Montana': 'Billings',
 'Nebraska': 'Omaha',
 'Nevada': 'Las vegas',
 'New hampshire': 'Manchester',
 'New jersey': 'Franklin',
 'New mexico': 'Albuquerque',
 'New york': 'New york',
 'North carolina': 'Charlotte',
 'North dakota': 'Fargo',
 'Ohio': 'Cincinnati',
 'Oklahoma': 'Tulsa',
 'Oregon': 'Portland',
 'Pennsylvania': 'Philadelphia',
 'Rhode island': 'North kingstown',
 'South carolina': 'Columbia',
 'South dakota': 'Sioux falls',
 'Tennessee': 'Nashville',
 'Texas': 'San antonio',
 'Utah': 'Salt lake city',
 'Vermont': 'Montpelier',
 'Virginia': 'Chesapeake',
 'Washington': 'Seattle',
 'West virginia': 'Martinsburg',
 'Wisconsin': 'Madison',
 'Wyoming': 'Cheyenne'}

In [40]:
career_data_missing_values["inferred_city"] = career_data_missing_values["inferred_city"].fillna(career_data_missing_values["inferred_state"].map(inferred_city_mapping))
career_data_missing_values

,uniq_id,crawl_timestamp,job_title,company_name,post_date,job_type,inferred_salary_time_unit,salary_offered,valid_through,postdate_yyyymmdd,last_expiry_check_date,latest_expiry_check_date,postdate_in_indexname_format,inferred_city,inferred_state,post_date_unix_time,postal_code
0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03+00:00,Asphalt/Concrete Senior Project Manager,GPAC,2020-06-25,Full-Time,/,99642.0,2020-07-24,2020-06-25,2020.06.26,2020-06-26,2020.06.22,Houston,Texas,1593043200,43961
1,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05+00:00,Amazon Warehouse Team - Full Time,Amazon Fulfillment,2020-05-16,Full-Time,/,58626.0,2020-06-15,2020-05-16,2020.05.17,2020-05-17,2020.05.11,Cincinnati,Ohio,1589587200,50467
2,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42+00:00,Amazon Warehouse Associate - Morning Shifts Av...,Amazon Fulfillment,2020-06-26,Full-Time,/,67450.0,2020-07-25,2020-06-26,2020.06.27,2020-06-27,2020.06.22,Peabody,Massachusetts,1593129600,42620
3,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32+00:00,Assembly Electrical,Manpower,2020-06-02,Full-Time,/hour,47467.0,2020-07-01,2020-06-02,2020.06.03,2020-06-03,2020.06.01,Villard,Minnesota,1591056000,97275
4,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07+00:00,Graphics Designer,The North West Company - U.S.,2020-05-22,Full-Time,/,136684.0,2020-06-21,2020-05-22,2020.05.23,2020-05-23,2020.05.22,Anchorage,Alaska,1590105600,37765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,a56efdccbe87fea387e2edd3b1ec9faa,2020-05-19 01:21:18+00:00,Store Hourly,Advance Auto Parts,2020-05-18,Full-Time,/,63152.0,2020-06-17,2020-05-18,2020.05.19,2020-05-19,2020.05.11,Wake forest,North carolina,1589760000,27460
2996,5605b833679597515f7205180b50ea9f,2020-06-12 01:45:25+00:00,SAP FICA IS-U Architect (Posted 6-11-20),Donnelly & Moore,2020-06-11,Contractor,/0,108575.0,2020-07-10,2020-06-11,2020.06.12,2020-06-12,2020.06.11,White plains,New york,1591833600,74603
2997,c74525996c267187b2be11c3c01f3a34,2020-04-30 01:47:25+00:00,Data Entry Specialist,Robert Half,2020-04-29,Seasonal/Temp,/hour,88469.0,2020-05-28,2020-04-29,2020.04.30,2020-04-30,2020.04.22,Martinez,California,1588118400,08709
2998,ee4a13cfc9ce0cb2d66b54b30d5732e6,2020-06-12 00:57:31+00:00,Warehouse Associate (Seasonal/ Part-Time/ Full...,Amazon Fulfillment,2020-06-11,Part-Time,/,102933.0,2020-07-10,2020-06-11,2020.06.12,2020-06-12,2020.06.11,Rahway,New jersey,1591833600,41693
2999,6093631d5e9c136e0b3808e0eaeffb31,2020-05-07 02:51:11+00:00,Amazon Warehouse Team Member -Earn up to $15,Amazon Fulfillment,2020-05-06,Full-Time,/,82329.0,2020-06-05,2020-05-06,2020.05.07,2020-05-07,2020.05.01,Queens,New york,1588723200,96169

In [42]:
career_data_encoded = career_data_missing_values.copy()

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

career_data_encoded["inferred_state"] = le.fit_transform(career_data_encoded["inferred_state"])

career_data_encoded["inferred_state"]

0       43
1       35
2       21
3       23
4        1
        ..
2995    33
2996    32
2997     4
2998    30
2999    32
Name: inferred_state, Length: 3000, dtype: int32

In [43]:
pd.get_dummies(career_data_encoded["inferred_state"], prefix="state")

,state_0,state_1,state_2,state_3,state_4,state_5,state_6,state_7,state_8,state_9,...,state_41,state_42,state_43,state_44,state_45,state_46,state_47,state_48,state_49,state_50
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
pd.get_dummies(career_data_encoded["inferred_state"], prefix="state_", drop_first=True)

,state__1,state__2,state__3,state__4,state__5,state__6,state__7,state__8,state__9,state__10,...,state__41,state__42,state__43,state__44,state__45,state__46,state__47,state__48,state__49,state__50
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
from sklearn.preprocessing import MinMaxScaler

career_data_scaled = career_data_encoded.copy()

scaler = MinMaxScaler()

# df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
career_data_scaled["post_date_unix_time"] = scaler.fit_transform(career_data_scaled[["post_date_unix_time"]])
career_data_scaled

,uniq_id,crawl_timestamp,job_title,company_name,post_date,job_type,inferred_salary_time_unit,salary_offered,valid_through,postdate_yyyymmdd,last_expiry_check_date,latest_expiry_check_date,postdate_in_indexname_format,inferred_city,inferred_state,post_date_unix_time,postal_code
0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03+00:00,Asphalt/Concrete Senior Project Manager,GPAC,2020-06-25,Full-Time,/,99642.0,2020-07-24,2020-06-25,2020.06.26,2020-06-26,2020.06.22,Houston,43,0.956044,43961
1,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05+00:00,Amazon Warehouse Team - Full Time,Amazon Fulfillment,2020-05-16,Full-Time,/,58626.0,2020-06-15,2020-05-16,2020.05.17,2020-05-17,2020.05.11,Cincinnati,35,0.516484,50467
2,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42+00:00,Amazon Warehouse Associate - Morning Shifts Av...,Amazon Fulfillment,2020-06-26,Full-Time,/,67450.0,2020-07-25,2020-06-26,2020.06.27,2020-06-27,2020.06.22,Peabody,21,0.967033,42620
3,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32+00:00,Assembly Electrical,Manpower,2020-06-02,Full-Time,/hour,47467.0,2020-07-01,2020-06-02,2020.06.03,2020-06-03,2020.06.01,Villard,23,0.703297,97275
4,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07+00:00,Graphics Designer,The North West Company - U.S.,2020-05-22,Full-Time,/,136684.0,2020-06-21,2020-05-22,2020.05.23,2020-05-23,2020.05.22,Anchorage,1,0.582418,37765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,a56efdccbe87fea387e2edd3b1ec9faa,2020-05-19 01:21:18+00:00,Store Hourly,Advance Auto Parts,2020-05-18,Full-Time,/,63152.0,2020-06-17,2020-05-18,2020.05.19,2020-05-19,2020.05.11,Wake forest,33,0.538462,27460
2996,5605b833679597515f7205180b50ea9f,2020-06-12 01:45:25+00:00,SAP FICA IS-U Architect (Posted 6-11-20),Donnelly & Moore,2020-06-11,Contractor,/0,108575.0,2020-07-10,2020-06-11,2020.06.12,2020-06-12,2020.06.11,White plains,32,0.802198,74603
2997,c74525996c267187b2be11c3c01f3a34,2020-04-30 01:47:25+00:00,Data Entry Specialist,Robert Half,2020-04-29,Seasonal/Temp,/hour,88469.0,2020-05-28,2020-04-29,2020.04.30,2020-04-30,2020.04.22,Martinez,4,0.329670,08709
2998,ee4a13cfc9ce0cb2d66b54b30d5732e6,2020-06-12 00:57:31+00:00,Warehouse Associate (Seasonal/ Part-Time/ Full...,Amazon Fulfillment,2020-06-11,Part-Time,/,102933.0,2020-07-10,2020-06-11,2020.06.12,2020-06-12,2020.06.11,Rahway,30,0.802198,41693
2999,6093631d5e9c136e0b3808e0eaeffb31,2020-05-07 02:51:11+00:00,Amazon Warehouse Team Member -Earn up to $15,Amazon Fulfillment,2020-05-06,Full-Time,/,82329.0,2020-06-05,2020-05-06,2020.05.07,2020-05-07,2020.05.01,Queens,32,0.406593,96169

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(career_data_scaled.drop(columns="salary_offered"), career_data_scaled["salary_offered"])